<!-- START row-->
<div ng-controller="InstanceController as instanceController" class="row">
    <div class="col-md-6">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">服务列表</div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>服务名称</th>
                            <th>启动类</th>
                            <th>包路径</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-click="instanceController.group_click($index)" ng-repeat="group in instanceGroup" class="cursor-pointer">
                            <td>{{group.serverName}}</td>
                            <td>{{group.mainClass}}</td>
                            <td>{{group.sourceName}}</td>
                            <td>查看,修改</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
        <!-- END panel-->
    </div>
    <div ng-show="select_group" class="col-md-6">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{select_group.serverName}}</h4></div>
            <div class="panel-body">
                <strong>启动类: {{select_group.mainClass}}</strong><br/>
                <strong>包路径: {{select_group.sourceName}}</strong><br/>
                <strong>jvm参数: {{select_group.jvmArgs}}</strong><br/>
                <strong>启动参数: {{select_group.mainArgs}}</strong><br/>
                <strong>备注: {{select_group.remark}}</strong><br/>


                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>服务地址</th>
                            <th>最后部署时间</th>
                            <th>最后部署人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="instance in instanceController.serverInstances" class="cursor-pointer">
                            <td>
                                <div class="checkbox c-checkbox needsclick">
                                    <label class="needsclick">
                                        <input type="checkbox" ng-model="instanceController.instance_status[instance.id]" value="{{instance.ip}}" class="needsclick" />
                                        <span class="fa fa-check"></span></label>
                                </div>
                            </td>
                            <td>
                                {{instance.ip}}
                            </td>
                            <td>{{instance.deploy_time}}</td>
                            <td>{{instance.deployBy}}</td>
                            <td>deploy  ,start,  restart,  stop,  delete</td>
                        </tr>
                        <tr>
                            <td>批量操作</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a ng-click="instanceController.batchDeploy()">deploy</a>
                                ,start,restart,stop</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- END panel-->
    </div>
</div>